apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: model
  name: model
spec:
  replicas: 2
  selector:
    matchLabels:
      app: model
  template:
    metadata:
      labels:
        app: model
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: fast-api
          image: valentinalorefice/fast-api:v3
          ports:
            - containerPort: 8000
