apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: model
  name: model
spec:
  replicas: 2 # Usaremos 2 réplicas para escalabilidad horizontal
  selector:
    matchLabels:
      app: model
  strategy: {}
  template:
    metadata:
      labels:
        app: model
    spec:
      # --- SECCIÓN AÑADIDA PARA AUTENTICACIÓN ---
      imagePullSecrets:
      - name: regcred # Nombre del Secret de Docker Hub creado con kubectl
      # ---------------------------------------------
      containers:
      - image: valentinalorefice/streamlit:v4 # Imagen de tu modelo
        name: streamlit
        resources: {}
        ports:
        - containerPort: 8000 # Puerto en el que escucha FastAPI
status: {}