name: Flujo de Trabajo MLOps CI

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Permite la ejecución manual

jobs:
  mlops_ci_job: # Este será nuestro trabajo principal, o puedes usar 'build'
    runs-on: ubuntu-latest

    steps:
      - name: Revisar el Código
        uses: actions/checkout@v4 # Acción para descargar el código del repositorio
      
      - name: Configurar Entorno Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.5' # Usando la versión consistente con tu entorno local

      - name: Instalar Dependencias del Proyecto
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt